.AccordionContent[data-state="open"] {
  animation: slideDown 300ms linear;
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms linear;
}

@media (min-width: 1024px) {
  .AccordionContent[data-state="open"] {
    opacity: 0;
    animation:
      openHorizontal 300ms linear,
      fadeIn 300ms linear 300ms forwards;
  }
  .AccordionContent[data-state="closed"] {
    opacity: 0;
    animation: closeHorizontal 300ms linear;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes openHorizontal {
  from {
    width: 0;
  }
  to {
    width: var(--radix-accordion-content-width);
  }
}

@keyframes closeHorizontal {
  0% {
    width: var(--radix-accordion-content-width);
  }
  100% {
    width: 0;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
