// GENERAL
html {
    font-size: 16px;
}

body {
    font: {
        family: 'ElMessiri', sans-serif;
        weight: 400;
        style: normal;
    }
    line-height: 1.5rem;
    color: $cc_black;
    a {
        text-decoration: none;
        cursor: pointer;
        color: $cc_orange;
    }
}

// STYLING
h1 {
    font: {
        weight: 700;
    }
    line-height: 1.5rem;
}

h2 {
    font: {
        weight: 700;
    }
    line-height: 1.5rem;
}


blockquote {
    p {
        font: {
            size: 3.5rem;
        }
        line-height: 3.75rem;
        @media screen and (max-width: $TabletPortrait) {
            font: {
                size: 2.5rem;
            }
            line-height: 2.75rem;
        }
    }
}

figcaption {
    color: $cc_orange;
    padding-top: 32px;
}